src/main/resources/assets/guilib/xml/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="GUI-LIBRARY-HTML-SCHEMA"
           xmlns="GUI-LIBRARY-HTML-SCHEMA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

    <!--
        Inheritance
        <xs:import namespace="http://example.com/base" schemaLocation="base.xsd"/>
    -->

    <!-- SPECIAL -->
    <xs:element name="link">
        <xs:complexType>
            <xs:attribute name="src" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <!-- LOGICAL -->

    <xs:complexType name="LogicalElement">
        <xs:attribute name="src" type="xs:string"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="component">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LogicalElement">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="module">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LogicalElement">
                    <xs:sequence>
                        <xs:element ref="component" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- BASE -->
    <xs:complexType name="BasicNode">
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="group" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="BaseNode">
        <xs:complexContent>
            <xs:extension base="BasicNode">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="call">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseNode">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="component"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- BASE CONTAINER -->

    <xs:complexType name="BaseContainer">
        <xs:complexContent>
            <xs:extension base="BaseNode">
                <xs:sequence>
                    <xs:element ref="slot" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- DEFINITIONS -->


    <xs:element name="node">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseNode">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="div">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseNode">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="body">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseNode">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="span">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseNode">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="label">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BasicNode">
                    <xs:attribute name="maxTextLength" type="xs:unsignedInt"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="progressBar">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BasicNode">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="deus">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BasicNode">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="button">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BasicNode">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="scrollBar">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BasicNode">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Definición del elemento slot -->
    <xs:element name="slot">
        <xs:complexType>
            <xs:attribute name="maxItemAmount" type="xs:integer"/>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="group" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="draggableElement">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseNode">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="inventory">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseContainer">
                    <xs:sequence>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="playerInventory">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseContainer">
                    <xs:sequence>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="craftingTable">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseContainer">
                    <xs:sequence>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="container">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseContainer">
                    <xs:sequence>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bar">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseNode">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="direction">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="vertical"/>
                                <xs:enumeration value="horizontal"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="panel">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseNode">
                    <xs:sequence>
                        <xs:any namespace="GUI-LIBRARY-HTML-SCHEMA" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="textArea">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BasicNode">
                    <xs:attribute name="maxTextLength" type="xs:unsignedInt"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="textField">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BasicNode">
                    <xs:attribute name="maxTextLength" type="xs:unsignedInt"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="image">
        <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="group" type="xs:string"/>
            <xs:attribute name="src" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="templates">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LogicalElement">
                    <xs:sequence>
                        <xs:element ref="module" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="root">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">

                <xs:element ref="link" minOccurs="0"/>
                <xs:element ref="templates" minOccurs="0"/>
                <xs:element ref="node" minOccurs="0"/>
                <xs:element ref="div" minOccurs="0"/>
                <xs:element ref="body" minOccurs="0"/>
                <xs:element ref="span" minOccurs="0"/>
                <xs:element ref="container" minOccurs="0"/>
                <xs:element ref="inventory" minOccurs="0"/>
                <xs:element ref="playerInventory" minOccurs="0"/>
                <xs:element ref="label" minOccurs="0"/>
                <xs:element ref="panel" minOccurs="0"/>
                <xs:element ref="textField" minOccurs="0"/>
                <xs:element ref="textArea" minOccurs="0"/>
                <xs:element ref="call" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="version">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1.0.0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>




</xs:schema>
